$StdMgn : 20px;

.small_only{
	display: none;
}

body{
	background-color: #d8deea;
	&:hover{
		&>.backIMG{
			right: 0;
		}
	}
	@media screen and (max-height: 480px){
		font-size: 0.8em;
	}
}

a{
	padding: 0 2px;
	&:link { color: #0000ff; }
	&:visited { color: #0000ff; }
	&:hover { color: #9999ff; }
	&:active { color: #9999ff; }
}

.backIMG{
	position: fixed;
	z-index: 0;
	right: 0;
	max-height: 110%;
	top: 0;
	right: -5%;
	bottom: 0;
	margin: auto 0;
	transition: 15s;
	transition-timing-function: linear;
}

.inner{
	position: relative;
	left: 0;
	right: 0;
	max-width: 1280px;
	height: 100%;
	z-index: 10;
	margin: 0 auto;
}

.title{
	position: absolute;
	height: 70%;
	top: $StdMgn;
	left: $StdMgn;
}

.place{
	position: absolute;
	height: auto;
	left: $StdMgn;
	bottom: $StdMgn;
}

.oneLine{
	display: inline;
}

.fb{
	position: absolute;
	bottom: $StdMgn;
	right: $StdMgn;
}

#copyright{
	max-width: 1280px;
	position: relative;
	left: $StdMgn;
	right: 0;
	margin: 0 auto;
	opacity: 0.7;
}