@charset "UTF-8";
* {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

/*! sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
audio:not([controls]) {
  display: none;
}

button {
  overflow: visible;
  -webkit-appearance: button;
}

details {
  display: block;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

input {
  -webkit-border-radius: 0;
}
input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}
input[type="number"] {
  width: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

small {
  font-size: 75%;
}

summary {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

:root {
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100%/1.5 sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

nav ol,
nav ul {
  list-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}
[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

.icon {
  height: 12px;
  margin-left: 1px;
  margin-right: 3px;
}

s {
  color: #888;
  margin: 0 0.5em;
}

@media screen and (max-width: 649px) {
  .pc_only {
    display: none;
  }

  .title {
    width: 100%;
  }

  .blue {
    background-color: #dfecff;
  }

  .about, .next, #copyright {
    padding: 5% 5%;
    text-align: center;
  }
  .about p, .next p, #copyright p {
    margin: 5% 0;
  }

  .place {
    padding: 10% 5%;
    text-align: center;
  }
  .place h3 {
    color: #18469b;
    margin-bottom: 4%;
  }
  .place .oneLine {
    display: inline;
    margin-right: 10px;
  }

  .next h2 {
    margin-top: 5%;
    font-size: 1.2em;
  }
  .next p {
    margin-top: 3%;
  }

  #copyright p {
    margin: 1% 0;
  }
}
@media screen and (min-width: 650px) {
  .small_only {
    display: none;
  }

  body {
    background-color: #d8deea;
  }
}
@media screen and (min-width: 650px) and (max-height: 480px) {
  body {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 650px) {
  a {
    padding: 0 2px;
  }
  a:link {
    color: #0000ff;
  }
  a:visited {
    color: #0000ff;
  }
  a:hover {
    color: #9999ff;
  }
  a:active {
    color: #9999ff;
  }

  .backIMG {
    position: fixed;
    z-index: 0;
    right: 0;
    max-height: 105%;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 15s;
            transition: 15s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }

  .inner {
    position: relative;
    left: 0;
    right: 0;
    max-width: 1280px;
    height: 100%;
    z-index: 10;
    margin: 0 auto;
  }

  .title {
    position: absolute;
    height: 70%;
    top: 20px;
    left: 20px;
  }

  .place {
    position: absolute;
    height: auto;
    left: 20px;
    bottom: 20px;
  }

  .oneLine {
    display: inline;
  }

  .fb {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  #copyright {
    max-width: 1280px;
    position: relative;
    left: 20px;
    right: 0;
    margin: 0 auto;
    opacity: 0.7;
  }
}
